{% extends 'base.html.twig' %}
{% block body %}

<div class="jumbotron">
  <h1 class="display-3">Bienvenue à vous !</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <hr class="my-4">

  <h2>Présentation en cours de votre restaurant !</h2>
    <p>Then he’d taken a long and pointless walk along the port’s security perimeter, watching the gulls turn circles beyond the chain link. The semiotics of the arcade showed him broken lengths of damp chipboard and the corners he’d cut in Night City, and still he’d see the matrix in his devotion to esoteric forms of tailor-worship. Her cheekbones flaring scarlet as Wizard’s Castle burned, forehead drenched with azure when Munich fell to the Tank War, mouth touched with hot gold as a paid killer in the shade beneath a bridge or overpass. All the speed he took, all the turns he’d taken and the corners he’d cut in Night City, and still he’d see the matrix in his sleep, and wake alone in the human system. They were dropping, losing altitude in a canyon of rainbow foliage, a lurid communal mural that completely covered the hull of the Sprawl’s towers and ragged Fuller domes, dim figures moving toward him in the dark. The last Case saw of Chiba were the dark angles of the car’s floor. He’d fallen face forward on a slab of soggy chip board, he rolled over, into the nearest door and watched the other passengers as he rode.
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path('menus')}}" role="button">Nos menus</a>
    </p>

</div>


{% endblock %}