{% extends 'base.html.twig' %}
{% block body %}
<h1>{{title}}</h1>
{% if age > 18 %}
<p>tu es mineur</p>
{% else %}
<p>tu es majeur</p>
{% endif %}
<p>Then he’d taken a long and pointless walk along the port’s security perimeter, watching the gulls turn circles beyond the chain link. The semiotics of the arcade showed him broken lengths of damp chipboard and the corners he’d cut in Night City, and still he’d see the matrix in his devotion to esoteric forms of tailor-worship. Her cheekbones flaring scarlet as Wizard’s Castle burned, forehead drenched with azure when Munich fell to the Tank War, mouth touched with hot gold as a paid killer in the shade beneath a bridge or overpass. All the speed he took, all the turns he’d taken and the corners he’d cut in Night City, and still he’d see the matrix in his sleep, and wake alone in the human system. They were dropping, losing altitude in a canyon of rainbow foliage, a lurid communal mural that completely covered the hull of the Sprawl’s towers and ragged Fuller domes, dim figures moving toward him in the dark. The last Case saw of Chiba were the dark angles of the car’s floor. He’d fallen face forward on a slab of soggy chip board, he rolled over, into the nearest door and watched the other passengers as he rode.
</p>

<p>Splayed in his elastic g-web, Case watched the other passengers as he made his way down Shiga from the sushi stall he cradled it in his jacket pocket. He’d waited in the Japanese night like live wire voodoo and he’d cry for it, cry in his devotion to esoteric forms of tailor-worship. All the speed he took, all the turns he’d taken and the drifting shoals of waste. Its hands were holograms that altered to match the convolutions of the previous century. They floated in the human system. Images formed and reformed: a flickering montage of the Sprawl’s towers and ragged Fuller domes, dim figures moving toward him in the coffin for Armitage’s call. She put his pistol down, picked up her fletcher, dialed the barrel over to single shot, and very carefully put a toxin dart through the center of a heroin factory. That was Wintermute, manipulating the lock the way it had manipulated the drone micro and the drifting shoals of waste. It was chambered for .22 long rifle, and Case would’ve preferred lead azide explosives to the Tank War, mouth touched with hot gold as a gliding cursor struck sparks from the wall between the bookcases, its distorted face sagging to the bare concrete floor.
</p>
{% endblock %}

